.profile-card {
	max-width: 800px ;
	margin: auto ;
	box-shadow: 2px 2px 8px 5px #000040;
}

.profile-card .user-avatar img {
	width: 100% ;
	border: 2px inset black ;
	
}
.profile-card .profile-card-user-heading {
	display: flex ;
	align-content : center ;
}
.profile-card .user-name {
	align-self: center;
	font-size: min(32px, 6vw);
	margin-left: 0.3em;
}